Werkzeug==2.2.2
Flask
Flask-HTTPAuth
PyYAML
redis
oss2
thrift
hbase-rest-py
pymongo
exchangelib
hdfs
pyNfsClient
webdav4
boto3
esdk-obs-python
cos-python-sdk-v5
paramiko
SharePlum
requests-ntlm
pysmb
kafka-python
minio
mmh3
gmssl
ftputil
py7zr
rarfile
requests>=2.25.0
python-dateutil>=2.8.0
